body {
  background-color: rgb(205, 232, 235);
}
p {
  color: rgb(0, 0, 0);
}

.title {
  text-align: center;
  font-size: 128px;
  visibility: hidden;
}

.first,
.second,
.third {
  animation-name: firstRightToLeft;
}

.fourth,
.fifth,
.sixth {
  animation-name: secondRightToLeft;
}

.first,
.second,
.third,
.fourth,
.fifth,
.sixth {
  display: inline-block;
  margin: -17px;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.second {
  animation-delay: 0.1s;
}

.third {
  animation-delay: 0.2s;
}

.fourth {
  animation-delay: 0.3s;
}

.fifth {
  animation-delay: 0.4s;
}

.sixth {
  animation-delay: 0.5s;
}

@keyframes firstRightToLeft {
  from {
    transform: translateX(525px);
    visibility: visible;
    opacity: 0;
  }
  to {
    transform: translateX(-75px);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes secondRightToLeft {
  from {
    transform: translateX(625px);
    visibility: visible;
    opacity: 0;
  }
  to {
    transform: translateX(25px);
    visibility: visible;
    opacity: 1;
  }
}
