@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html {
  font-size: min(16px, 1.5vw);
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Pretendard";
  width: 50vw;
  margin: auto;
  align-items: center;
  transition: 0.4s;
}
p {
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.title {
  font-size: 8rem;
  text-align: center;
}

@media (min-width: 1000px) {
  .title {
    visibility: hidden;
  }

  .first,
  .second,
  .third {
    animation-name: firstRightToLeft;
  }

  .fourth,
  .fifth,
  .sixth {
    animation-name: secondRightToLeft;
  }

  .first,
  .second,
  .third,
  .fourth,
  .fifth,
  .sixth {
    display: inline-block;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }

  .second {
    animation-delay: 0.1s;
  }

  .third {
    animation-delay: 0.2s;
  }

  .fourth {
    animation-delay: 0.3s;
  }

  .fifth {
    animation-delay: 0.4s;
  }

  .sixth {
    animation-delay: 0.5s;
  }

  @keyframes firstRightToLeft {
    from {
      transform: translateX(525px);
      visibility: visible;
      opacity: 0;
    }
    to {
      transform: translateX(-75px);
      visibility: visible;
      opacity: 1;
    }
  }

  @keyframes secondRightToLeft {
    from {
      transform: translateX(625px);
      visibility: visible;
      opacity: 0;
    }
    to {
      transform: translateX(25px);
      visibility: visible;
      opacity: 1;
    }
  }
}

span:hover {
  transform: scale(0.5, 0.5);
}

.external-link {
  width: 50vw;
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: center;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
